@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
  :root{
    --color-primary:#2D3142;
    --color-second:#4F5D75;
    --color-gray:#BFC0C0;
    --white-base: #FFFFFF;
    --orange:#EF8354;
    --ligth-gray:#EAEBEB;
  }

* {
    box-sizing: border-box;

  }
  
  html {
	font-size: 62.5%;
}


